body {
  background-color: #f2f4f3 !important;
  text-align: center;
}

h1 {
  font-family: "Merriweather", serif;
  color: #221d23;
  padding-bottom: 16px;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
  font-weight: 200;
  color: #4c414e;
}

h2,
h4 {
  padding-bottom: 8px;
  text-align: center;
}

h2,
h4,
p {
  font-family: "Roboto", sans-serif;
  color: #4c414e;
}

@media {
}

.hero {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  max-width: 460px;
  width: 46%;
  margin: 256px auto;
  padding: 3% 2%;
}

.foreground-decoration {
  background-color: #bfc6a9;
  display: block;
  height: 100%;
  max-width: 80px;
  width: 8%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.background-decoration {
  background-color: #707a52;
  display: block;
  height: 100%;
  max-width: 50px;
  width: 5%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}
