a {
  color: #221d23;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:hover,
a:focus {
  color: #707a52;
  text-decoration: none;
  font-weight: bolder;
}

body {
  background-color: #f2f4f3;
}

h1 {
  font-family: "Merriweather", serif;
  color: #221d23;
  padding: 16px;
  font-size: 2.75rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  font-weight: 200;
  color: #4c414e;
}

h2,
h4 {
  padding-bottom: 16px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2,
h4,
p {
  font-family: "Roboto", sans-serif;
  color: #4c414e;
}

h5 {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 16px;
}

p {
  line-height: 22px;
}

#about-photo {
  display: block;
  max-width: 967px;
  height: 100%;
  opacity: 0.2;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.container-content {
  max-width: 80%;
  padding-top: 96px;
  margin: 0px auto;
}

.contact-types {
  text-align: center;
}

.decoration-background {
  background-color: #707a52;
  display: block;
  height: 100%;
  max-width: 50px;
  width: 5%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.decoration-foreground {
  background-color: #bfc6a9;
  display: block;
  height: 100%;
  max-width: 80px;
  width: 8%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.description {
  margin: 0px auto;
  text-align: center;
}

.description-contact {
  margin-bottom: 20px;
}

.description-shadow {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  margin: 0px auto;
  max-width: 80%;
}

.dropdown {
  position: relative;
  display: none;
  float: right;
  padding-right: 10%;
  padding-top: 10px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10%;
}

.dropdown-content a {
  color: #4c414e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #bfc6a9;
  color: #221d23;
}

.dropdown-display {
  display: block;
}

.fa,
.fas {
  padding-right: 5px;
}

.fa-bars {
  color: #4c414e;
  font-size: 24px;
  cursor: pointer;
}

.fa-bars:hover,
.fa-bars:focus {
  color: #221d23;
}

.flex-child {
  flex: content;
  justify-content: center;
}

.flex-child:first-child {
  margin-right: 40px;
  margin-left: 40px;
}

.flex-container {
  display: flex;
  margin-bottom: 40px;
}

.hero {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin: 0px auto;
  margin-bottom: 64px;
  width: 70%;
}

.icon {
  display: inline;
  text-align: center;
}

.logo {
  max-width: 48px;
}

.navbar {
  list-style-type: none;
  max-width: 20px;
  min-width: 140px;
  width: 8%;
  height: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.navbar-item {
  padding: 20px 0px;
  text-decoration: none;
}

.navbar-item a {
  display: block;
  color: #4c414e;
  text-decoration: none;
  text-align: left;
  padding-left: 10px;
}

.navbar-item a:hover {
  color: #221d23;
  font-weight: bold;
}

.navbar-link {
  text-align: center;
}
.navbar-logo {
  text-align: left;
}

.portfolio-image {
  max-width: 280px;
  border: solid 2px #707a52;
  box-shadow: 10px 5px 20px rgba(112, 122, 82, 0.3);
}

.project-summary-right {
  text-align: right;
}

@media screen and (max-width: 860px) {
  .flex-container {
    width: 80%;
    margin: 0px auto 40px;
  }

  .project-one {
    flex-direction: column;
  }

  .project-two {
    flex-direction: column-reverse;
  }

  .flex-child {
    flex: none;
  }

  .flex-child:first-child {
    margin-right: 0px;
    margin-left: 0px;
  }

  .image {
    max-width: 100%;
  }

  .project-summary-title {
    text-align: center;
  }

  .project-summary-description {
    text-align: center;
  }

  .portfolio-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .fas {
    padding-right: 0px;
  }

  .hero {
    width: 95%;
  }

  .icon {
    display: block;
  }

  .logo {
    padding-right: 20px;
  }

  .navbar {
    min-width: none;
    max-width: none;
    padding-left: 10px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .navbar-item {
    display: inline;
  }

  .navbar-link {
    float: left;
    padding: 10px;
  }
}

@media screen and (max-width: 460px) {
  .background-decoration {
    display: none;
  }

  .container-content {
    width: 100%;
  }

  .dropdown {
    display: inline-block;
  }

  .foreground-decoration {
    display: none;
  }

  .hero {
    width: 100%;
  }

  .navbar-option {
    display: none;
  }
}
